<div class="app-container">
  <div class="header">
    <div class="icon" id="shuffle-icon">&#8635;</div>
    <button class="mode-button">Multiplicación</button>
    <div class="icon" id="settings-icon">&#9881;</div>
  </div>
  <div class="content">
    <div class="button-container">
      <button class="action-button" id="learn-button">
        <img src="https://w7.pngwing.com/pngs/764/58/png-transparent-computer-icons-notebook-pencil-drawing-delete-button-miscellaneous-angle-pencil.png " alt="Icono Aprender">
        <span>Aprender</span>
      </button>
      <button class="action-button" id="play-button">
        <img src="https://w7.pngwing.com/pngs/261/757/png-transparent-computer-icons-google-play-music-button-play-angle-rectangle-triangle-thumbnail.png" alt="Icono Jugar">
        <span>Jugar</span>
      </button>
      <button class="action-button" id="exam-button">
        <img src="https://img.icons8.com/?size=77&id=109686&format=png" alt="Icono Examen">
        <span>Examen</span>
      </button>
    </div>
  </div>
</div>
